section {
  text-align: left;
  padding-left: 25px;
  padding-right: 25px;
  padding-bottom: 25px;
  border: 10px solid rgb(142, 99, 127);
}

body {
  background-color: rgb(247, 243, 246);
  font-size: 1.1rem;
  font-family: "Lato", sans-serif; /* Default font */
}

/* Apply Tektur font to headings */
.tektur-font {
  font-family: "Tektur", sans-serif;
  text-align: center;
  font-weight: 700;
}

/* Apply Lato font to paragraphs */
.lato-font {
  font-family: "Lato", sans-serif;
  font-weight: 400;
}
#text {
  margin-left: 300px;
  margin-right: 300px;
}
img {
  width: 100%;
  height: auto;
}
.barlow-semi-condensed-thin {
  font-family: "Barlow Semi Condensed", sans-serif;
  font-weight: 100;
  font-style: normal;
}
